<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.dao.HomeinfoDao">
    <resultMap id="BaseResault" type="com.qf.domain.Homeinfo">
        <id column="id" property="id"></id>
        <result column="picture" property="picture"></result>
        <result column="address" property="address"></result>
        <result column="hoststyle" property="hoststyle"></result>
        <result column="price" property="price"></result>
        <result column="description" property="description"></result>
        <result column="beiyong2" property="beiyong2"></result>
        <result column="beiyong3" property="beiyong3"></result>
        <result column="cname" property="cname"></result>
    </resultMap>

    <select id="selectAll" parameterType="com.qf.domain.Homeinfo" resultMap="BaseResault">
       select h.picture,h.address,h.hoststyle,h.price,h.description from homeinfo h  where cname=#{cityname} limit ?,?
    </select>

    <select id="selectAllhouse" parameterType="String" resultMap="BaseResault">
       select h.picture,h.address,h.hoststyle,h.price,h.description from homeinfo h  where description like '%' || #{description} || '%' limit ?,?
    </select>

    <select id="selectAllByCityName" parameterType="String" resultMap="BaseResault">
        select h.picture,h.address,h.hoststyle,h.price,h.description from homeinfo h where cname=#{cityname} and description like '%' || #{description} || '%' limit ?,?
    </select>

    <!--select h.picture,h.address,h.hoststyle,h.price,h.description from homeinfo h  where description like '%西%' limit 1,1-->
</mapper>